#Gallery1 {
  background-image: url("../../assets/26.jpeg");

background-size: cover;
  }
  
  

#Gallery1 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.title_gallery1 {
  position: relative;
  font-family: 'Brush Script MT', cursive; /* Use a script or elegant font */
  font-size: 3rem; /* Adjust as needed */
  color: var(--primary); 
  text-align: center;
  z-index: 2; 
}

.title_gallery1::before {
  content: "Business Renovations";
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 3.5rem;
  color: rgba(188, 202, 109, 0.219); 
  z-index: 1; 
  font-weight: bold; 
  letter-spacing: 2px; 
}

.mySwiper {
  width: 100%; 
  max-width: 450px;
  height: 450px;
  margin: 0 auto; 
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}
@media (max-width: 930px) {
  #Gallery1 .container {
    grid-template-columns: 100%;
  }
  #Gallery1 {
    background: none;
  }
  #Gallery1 .cardimg {
    justify-content: flex-start;
  }
}
